name: Smoke test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  LEFTHOOK: 0

permissions:
  contents: read

jobs:
  smoke-test:
    runs-on: ubuntu-24.04
    container:
      image: gwennlbh/playwright-bun:v1.57.0@sha256:bd628a5d7022b5889e7f5ef074608cef058ab721d96fa66883b9ea7ad34a5e8d
      options: --user 1001
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Git Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Bun setup
        uses: ./.github/actions/setup

      - name: Smoke & Acceptance tests
        run: bun run test run --project storybook
        env:
          FORCE_COLOR: "1"
